.template {
    &__nodeLists {
        margin: 0 1rem;
    }

    &__panel {
        width: 37rem;
        max-height: calc(100vh - 8rem);
        background-color: $color-grey-light-1;
        padding: 1rem 0;
        position: relative;
    }

    &__draft {
        position: relative;
        width: calc(100vw - 37rem);
        height: calc(100vh - 8rem);
    }

    &__selectionWrapper {
        margin-bottom: 1rem;
        padding: 0 1rem;

        >* {
            &:not(:first-child) {
                margin-left: 1rem;
            }
        }
    }

    &__params {
        padding: 0 1rem 2rem 1rem;
        border-bottom: 1px solid #B1B1B1;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - 8rem - 3.6rem - 14rem);
    }

    &__paramActions {
        padding: 1rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        bottom: 1rem;
        left: 0;

        >* {
            &:not(:first-child) {
                margin-top: 1rem;
            }
        }
    }

    &__paramAction {
        padding: 1rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;

        >* {
            &:not(:first-child) {
                margin-top: 1rem;
            }
        }
    }

    &__handle {
        width: 1.2rem;
        height: 1.2rem;
        border: 1px solid black;
        background: $color-black;
        z-index: -1;

        &--left {
            left: -1.1rem;
        }

        &--right {
            right: -1.1rem;
        }

        &--top {
            top: -1.1rem;
        }

        &--idle {
            border: 1px solid #a0ceff;
            background: #a0ceff !important;
        }

        &--success {
            border: 1px solid #27AE60;
            background: #27AE60 !important;
        }

        &--error {
            border: 1px solid #D64343;
            background: #D64343;
        }

        &--processing {
            border: 1px solid $color-secondary;
            background: $color-secondary;
        }
    }

    &__assertionAction {
        margin-top: 1rem;
    }

    &__assertionLists {
        margin-top: 1rem;
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
    }

    &__assertionBox {
        border: 2px solid $color-primary;
        background-color: #E6F2FF;
        display: inline-block;
        padding: 1rem;
        border-radius: 4rem;

        >* {
            &:not(:first-child) {
                margin-left: .5rem;
            }
        }
    }

    &__assertions {
        height: calc(100vh - 8rem - 3.6rem - 14rem);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__assertion {
        border-bottom: 2px solid lighten($color-grey-dark, 40%);
        border-radius: 2px;
        padding: 0 1rem 1rem 1rem;
    }

    &__assertionCards {
        margin-bottom: .5rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__assertionCard {
        display: inline-block;
        min-height: 4rem;
        border: 1px solid #646b78;
        border-radius: .5rem;
        cursor: pointer;

        &--selected {
            border: 1px solid $color-primary;

            >* {
                &:first-child {
                    background: $color-primary;
                }
            }
        }
    }

    &__assertionCardHeader {
        background: #474141;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 1rem;
    }

    &__assertionCardBody {
        padding: .5rem 1rem;
        @include displayCenter;
    }

    &__panelStatus {
        background-color: #474141;
        position: absolute;
        border-radius: 50%;
        height: 7rem;
        width: 7rem;
        bottom: 4rem;
        right: 4rem;
        cursor: pointer;
        transition: all .3s;
        @include displayCenter;

        &:hover {
            background-color: darken(#474141, 6%);
        }
    }

    &__outputPanel {
        position: absolute;
        left: 37rem;
        bottom: 0rem;
        height: 27.6rem;
        width: calc(100vw - 37rem);
        background: $color-grey-light-1;
        border-left: 1px solid #d9d9d9;

        &--shown {
            animation: panelBottomToTop 0.5s ease;
        }

        &--hidden {
            bottom: -27.6rem;
            animation: panelTopToBottom 0.5s ease;
            display: none;
        }
    }

    &__opHeader {
        width: 100%;
        height: 4rem;
        background: #d9d9d9;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__opHeaderDisplay {
        height: 100%;
        padding: .5rem 1rem;
        cursor: pointer;
        &:hover {
            background: darken(#d9d9d9, 4%);
        }
        &--selected {
            background: darken(#d9d9d9, 10%);
            &:hover {
                background: darken(#d9d9d9, 10%); 
            }
        }
        transition: all .3s;
    }

    &__opScripts {
        padding: 1rem;
    }

    &__opHeaderAction {
        height: 100%;
        width: 3.8rem;
        background: #474141;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: #CA003F;
        }
    }

    &__gvPopupAction {
        display: flex;
        align-items: center;
        justify-content: center;
        >* {
            &:not(:first-child) {
                margin-left: 2rem;
            }
        }
    }

    &__gvPopup {
        padding: 1rem 3rem;
        width: 52rem!important;
        overflow: hidden;
        &--title {
            background: $color-white !important;
            height: unset !important;

            >div {
                padding: 0 !important;
            }

            >div>div {
                font-family: "inter-semi-bold";
                font-size: 2.8rem;
                color: $color-black;
            }
        }
    }

    &__gvPopupContentHeader {
        padding: 1rem;
        margin-top: 2rem!important;
    }

    &__gvPopupRow {
        @include clearfix;
        // border-top: 2px solid #E6F2FF;
        border-bottom: 2px solid #E6F2FF;
        padding-bottom: 1.5rem;
        padding-top: 1rem;
    }

    &__gvPopupContentAction {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        >* {
            &:not(:first-child) {
                margin-left: 2rem;
            }
        }
    }

    &__gvPopupResultRows {
        overflow-y: scroll;
        max-height: 45rem;
    }

    &__gvPopupResultInput {
        height: 3rem!important;
        &--inputGroup {
            margin-bottom: 0!important;
            >input {
                height: 3rem;
            }
        }
    }

    &__gvPopupRowContent {

    }
}